
    <div class="row">
       
        <div class="col-md-8">
            <a class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
            <h3>Posts List</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID </th>
                    <th>TITLE </th>
                    <th>DESCRIPTION</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let item of postsData">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td><a class="btn btn-primary" [routerLink]="['edit',item.id]">Update</a></td>
                        <td><a class="btn btn-primary" (click)="deletePost(item.id)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
                <router-outlet></router-outlet>
        </div>
    </div>
